h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    color:darkgreen;
    text-align: center;
}

div{
    margin-bottom: 20px;
    text-align: center;

}

label{
    display: block;
    margin-bottom: 10px;

}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;

}

button{
    display: block;
    margin: 10px auto;
    padding: 20px;
    cursor: pointer;
    background-color: aquamarine;
    color: darkgreen;
    text-align: center;

}

p{
    text-align: center;
}